
*{
    transition: all 0.3s;
}
body{
    
    font-size:1rem;
    margin:0px;
    padding:0px;
    width: 100vw;
    font-family: "Nunito", sans-serif;
    background-color:#010001;
    color:rgba(255, 255, 255,0.85);
     overflow-x: hidden;
     ;
    
}


.outer{
    height:50rem;
    background-color:#010001;
    padding:0px;
    margin:0px;
    display: flex;
    flex-direction:row;
     font-weight: 300;
}
#sidebar{
    width: 300px;
    height:46rem;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-evenly;
  
}
#home{
    font-weight: 300;
    width:300px;
    background-color:rgba(16,16,17,255);
    height: 8rem;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    color:#646465;
}
.sidebar_buttons1{
    display: flex;
    flex-direction: row;
    transform: translateX(-18px);
    font-weight: 600;
}
.sidebar_buttons2{
    display: flex;
    flex-direction: row;
    transform: translateX(-18px);
    font-weight: 600;
}

.sidebar_buttons1  i{
  position:relative;
  top:1.35rem;
  right:0.5rem;
  cursor: pointer;

}


.sidebar_buttons2  i{
  position:relative;
  top:1.5rem;
  right:0.5rem;
  cursor: pointer;
  

}

.library{
    width:300px;
    height: 36.5rem;
    background-color:rgba(16,16,17,255);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#646465;


}
.sidebar_buttons1{
    height:3rem;
   border-top-left-radius: 6px;
   border-top-right-radius: 6px;
   margin:0rem;
   padding: 0rem;
   text-align: start;
    line-height: 4rem;
    position: relative;
    left:2rem;
   
}
.sidebar_buttons2{
    height:3rem;
    border-bottom-left-radius:6px;
    border-bottom-right-radius: 6px;
    margin:0rem;
    padding: 0rem;
    text-align: start;
    line-height: 4rem;
    position: relative;
    left:2rem;
   
}
.me1{
    cursor: pointer;
}
.me2{
    cursor: pointer;
}
.library .lib_heading{
    height: 3rem;
    line-height: 3rem;
    position: relative;
    right:3rem;
    display:flex;
    flex-direction:row;


}
.library .lib_heading #plus{
    position:relative;
    top:0.85rem;
    left:11.5rem;
    cursor: pointer;
}
.library .lib_heading #name{
    font-weight: 600;
    position:relative;
    right:1.4rem;
    cursor: pointer;
}
.library .lib_heading #side_bar{
    position:relative;
    top:0.85rem;
    right:1.2rem;
    cursor: pointer;

}

.library .lib_heading #right_arrow{
    position:relative;
    top:0.85rem;
    left:7rem;
     cursor: pointer;
   
}
.info{
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: start;
    width:284px;
    height:8rem ;
    color:rgba(255, 255, 255,0.85);
    border-radius: 6px;
    background-color:#1f1f1f;
    margin-bottom: 1.2rem;
   
 
}
.small_font{
    font-weight: 600;
    font-size: 0.9rem;
    color:#6c6d6c;
     margin-left: 0.8rem;
}
.nor{
    margin:0.3rem;
    margin-left: 0.8rem;
}
.create_buttons{
    border-radius: 2rem;
    height:1.5rem;
    color:rgba(0, 0, 0,0.85);
    border:none;
    cursor:pointer;
    margin-left: 0.8rem;
    background-color: rgba(255, 255, 255,0.85);
    font-weight: 600;
} 
#content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color:rgba(255, 255, 255,0.85);
    width:75rem;
    height:44.75rem;
    background-color:rgba(16,16,17,255);
    position:absolute;
    left: 19.4rem;
    top:0.5rem;
    border-radius:6px;
   background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), #000000);
}
#play_bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    width:94.8rem;
    position: fixed;
    bottom:0rem;
    height: 4.87rem;
    z-index: 1;
    background-color:#010001;
    color:#646465;
}
.login_bar{
    display:flex;
    flex-direction: row;
    position:relative;
    height:3rem;
    width:75rem;
    color: rgba(255, 255, 255, 0.1);
}
#content .login_bar .arrow{
    height:2rem;
    width:2rem;
    background-color: #121213;
    border-radius:50%;
    position:relative;
    top:0.4rem;
    margin-left: 0.6rem;
    color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}
#content .login_bar .arrow i{
    position:relative;
    top:0.35rem;
    left:0.6rem;
    cursor: pointer;
}
#content .login_bar #arrow1{
    margin-left:1rem;
}
#content .login_bar #button1{
    height:1.65rem;
    color:black;
    width:4.8rem;
    background-color:rgba(255, 255, 255,0.85) ;
    font-weight: 600;
    position:relative;
    top:0.5rem;
    left:53rem;
    border-radius: 2rem;
    display:flex;
    align-items: center;
    justify-content:center;
    cursor: pointer;  
}
#content .login_bar #button2{
    height:2rem;
    color:rgba(255, 255, 255,0.85);
    font-weight: 600;
    width:7.3rem;
    background-color:black ;
    position:relative;
    top:0.40rem;
    left:53.5rem;
    border-radius: 2rem;
    display:flex;
    align-items: center;
    justify-content:center;
    cursor: pointer;
    

    
}
#content .login_bar #button2 i{
    margin-right:0.3rem;
  
}
#content .login_bar #profile{
     height:2rem;
    width:2rem;
    background-color: #121213;
    border-radius:50%;
    position:relative;
    top:0.4rem;
    left:54rem;
    cursor: pointer;


}
#content .login_bar #profile i{
    color:rgba(255, 255, 255,0.85);
    transform: translate(0.54rem,0.3rem);
}
#content #recently_played{
    display:flex;
    flex-direction: row;
    height:15rem;
    align-items: center;
    justify-content: space-evenly;
}
#heading1{
    position:relative;
    left:2rem;
}
#heading2{
    position:relative;
    left:2rem;
}
#suggestions{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    height:15rem;
}
#content #recently_played #card1{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 14rem;
    width:11rem;
    margin:0.35rem;
    border-radius: 6px;
    background: linear-gradient(to bottom, #000000, rgba(255, 255, 255, 0.1));
    cursor: pointer;
}
#recently_played #card1 img{
    border-radius: 4px;
    height:9rem;
    width:9rem;
    padding:0px;
    margin-top:0.4rem;

}
#card1 span{
    width:9rem;
    margin:0;
    font-size: 0.9rem;
}
#card1 h5{
    margin:0;
}
#content #recently_played #card12{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 14rem;
    width:11rem;
    margin:0.35rem;
    border-radius: 6px;
    background: linear-gradient(to bottom, #000000, rgba(255, 255, 255, 0.1));
    cursor: pointer;
}
#recently_played #card12 img{
    height:9rem;
    width:9rem;
    padding:0px;
    margin-top:0.4rem;
    border-radius: 4px;

}
#card12 span{
    width:9rem;
    margin:0;
    font-size: 0.9rem;
}
#card12 h5{
    margin:0;
}
#content #recently_played #card13{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 14rem;
    width:11rem;
    margin:0.35rem;
    border-radius: 6px;
    background: linear-gradient(to bottom, #000000, rgba(255, 255, 255, 0.1));
    cursor: pointer;
}
#recently_played #card13 img{
    height:9rem;
    width:9rem;
    padding:0px;
    margin-top:0.4rem;
    border-radius: 4px;

}
#card13 span{
    width:9rem;
    margin:0;
    font-size: 0.9rem;
}
#card13 h5{
    margin:0;
}
#content #recently_played #card14{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 14rem;
    width:11rem;
    margin:0.35rem;
    border-radius: 6px;
    background: linear-gradient(to bottom, #000000, rgba(255, 255, 255, 0.1));
    cursor: pointer;
}
#recently_played #card14 img{
    height:9rem;
    width:9rem;
    padding:0px;
    border-radius: 4px;
    margin-top:0.4rem;

}
#card14 span{
    width:9rem;
    margin:0;
    font-size: 0.9rem;
}
#card14 h5{
    margin:0;
}
#content #recently_played #card15{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 14rem;
    width:11rem;
    margin:0.35rem;
    border-radius: 6px;
    background: linear-gradient(to bottom, #000000, rgba(255, 255, 255, 0.1));
    cursor: pointer;
}
#recently_played #card15 img{
    height:9rem;
    width:9rem;
    border-radius: 4px;
    padding:0px;
    margin-top:0.4rem;

}
#card15 span{
    width:9rem;
    margin:0;
    font-size: 0.9rem;
}
#card15 h5{
    margin:0;
}
#content #recently_played #card16{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 14rem;
    width:11rem;
    margin:0.35rem;
    border-radius: 6px;
    background: linear-gradient(to bottom, #000000, rgba(255, 255, 255, 0.1));
    cursor: pointer;

}
#recently_played #card16 img{
    height:9rem;
    width:9rem;
    border-radius: 4px;
    padding:0px;
    margin-top:0.4rem;

}
#card16 span{
    width:9rem;
    margin:0;
    font-size: 0.9rem;
}
#card16 h5{
    margin:0;
}
#content #suggestions #card2{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 14rem;
    width:11rem;
    margin:0.35rem;
    border-radius: 6px;
    background: linear-gradient(to bottom, #000000, rgba(255, 255, 255, 0.1));
    cursor: pointer;
}
#suggestions #card2 img{
    height:9rem;
    width:9rem;
    border-radius: 4px;
    padding:0px;
    margin-top:0.4rem;

}
#card2 span{
    width:9rem;
    margin:0;
    font-size: 0.9rem;
}
#card2 h5{
    margin:0;
}
#content #suggestions #card3{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 14rem;
    width:11rem;
    margin:0.35rem;
    border-radius: 6px;
    background: linear-gradient(to bottom, #000000, rgba(255, 255, 255, 0.1));
    cursor: pointer;
}
#suggestions #card3 img{
    height:9rem;
    border-radius: 4px;
    width:9rem;
    padding:0px;
    margin-top:0.4rem;

}
#card3 span{
    width:9rem;
    margin:0;
    font-size: 0.9rem;
}
#card3 h5{
    margin:0;
}
#content #suggestions #card4{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 14rem;
    width:11rem;
    margin:0.35rem;
    border-radius: 6px;
    background: linear-gradient(to bottom, #000000, rgba(255, 255, 255, 0.1));
    cursor: pointer;
}
#suggestions #card4 img{
    height:9rem;
    width:9rem;
    border-radius: 4px;
    padding:0px;
    margin-top:0.4rem;

}
#card4 span{
    width:9rem;
    margin:0;
    font-size: 0.9rem;
}
#card4 h5{
    margin:0;
}
#content #suggestions #card5{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 14rem;
    width:11rem;
    margin:0.35rem;
    border-radius: 6px;
    background: linear-gradient(to bottom, #000000, rgba(255, 255, 255, 0.1));
    cursor: pointer;
}
#suggestions #card5 img{
    height:9rem;
    width:9rem;
    border-radius: 4px;
    padding:0px;
    margin-top:0.4rem;

}
#card5 span{
    width:9rem;
    margin:0;
    font-size: 0.9rem;
}
#card5 h5{
    margin:0;
}
#content #suggestions #card6{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 14rem;
    width:11rem;
    margin:0.35rem;
    border-radius: 6px;
    background: linear-gradient(to bottom, #000000, rgba(255, 255, 255, 0.1));
    cursor: pointer;
}
#suggestions #card6 img{
    height:9rem;
    width:9rem;
    border-radius: 4px;
    padding:0px;
    margin-top:0.4rem;

}
#card6 span{
    width:9rem;
    margin:0;
    font-size: 0.9rem;
}
#card6 h5{
    margin:0;
}
#content #suggestions #card7{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 14rem;
    width:11rem;
    margin:0.35rem;
    border-radius: 6px;
    background: linear-gradient(to bottom, #000000, rgba(255, 255, 255, 0.1));
    cursor: pointer;
}
#suggestions #card7 img{
    height:9rem;
    border-radius: 4px;
    width:9rem;
    padding:0px;
    margin-top:0.4rem;

}
#card7 span{
    width:9rem;
    margin:0;
    font-size: 0.9rem;
}
#card7 h5{
    margin:0;
}
#song_info{
    display:flex;
    flex-direction: row;
    height:4 rem;
    width :30rem;
    justify-content: space-evenly;
    align-items: center;
}
#play_buttons{
    height:4 rem;
    width :33rem;
    position: relative;
    left:2rem;
    display:flex;
    flex-direction: column;
    align-items: center;


}
#volume_controls{
    height:2rem;
    width :20rem;
    position: relative;
    left:11.4rem;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}
#image{
    height:4rem;
    width:4rem;
    background-image:url("current_song.png");
    background-size: cover;
    border-radius: 6px;
    cursor:pointer;
}
#singer{
    height:4rem;
    width:24rem;
    color:rgb(255, 255, 255);
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin:0;
    padding: 0;
}
.sing{
    height:0.9rem;
    width:0.7rem;
    fill:rgba(255,255,255,0.7);
    position: relative;
    top:0.2rem;
    margin-left:0.2rem;
    margin-right:0.2rem;
    cursor:pointer;
}
#singer h6{
    padding:0px;
    margin:0px;
    color:rgb(255, 255, 255,0.7);
    font-weight: 300;
    cursor:pointer;
}
#singer h5{
    padding:0px;
    margin:0px;
    cursor:pointer;
}

#play{
    height:3rem;
    width:15rem;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
#left{
   margin-right: 1rem;
   font-size: 1.4rem;
    cursor: pointer;
    color:rgba(255, 255, 255,0.7);
   
}
#right{
    margin-left:1rem;
     font-size: 1.4rem;
      cursor: pointer;
      color:rgba(255, 255, 255,0.7);
}
#center{
    font-size:2.1rem ;
    color:white;
    cursor: pointer;
}
#radio{
    width:34rem;
    height:1.2rem;
    cursor: pointer;
    
}
#radio #music {
    -webkit-appearance: none;
    width: 34rem;
    height: 0.2rem;
    background-color: white;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
#radio #music::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
    background: transparent;
    cursor: pointer;
}
#radio #music::-moz-range-thumb {
    width: 0;
    height: 0;
    background: transparent;
    border: none;
    cursor: default;
}
#shuffle{
     margin-right:1rem;
     height:1.1rem;
     width:1.1rem;
      cursor: pointer;
      opacity: 0.7;
      fill:rgba(255, 255, 255,0.7);
}
#cast{
    margin-left:1rem;
    height:1.1rem;
    width:1.1rem;
    cursor: pointer;
    opacity: 0.7;
    fill:rgba(255, 255, 255,0.7);

}
.iconss{
   height:1rem;
   width:1rem;
   fill:rgba(255, 255, 255,0.7);
   cursor:pointer;
   
}
#vol_mode{
  -webkit-appearance: none;
    width: 6rem;
    height: 0.2rem;
    background-color: white;
    border-radius: 5px;
    outline: none;
    cursor: pointer;

}
#vol_mode::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
    background: transparent;
    cursor: pointer;
}
#vol_mode::-moz-range-thumb {
    width: 0;
    height: 0;
    background: transparent;
    border: none;
    cursor: default;
}
/* Hover Effects */
#ic1:hover{
    transform: scale(1.1);
    fill:white;
}
#ic2:hover{
    transform: scale(1.1);
    fill:white;
}

#ic3:hover{
    transform: scale(1.1);
    fill:white;
}

#ic4:hover{
    transform: scale(1.1);
    fill:white;
}

#ic5:hover{
    transform: scale(1.1);
    fill:white;
}

#ic6:hover{
    transform: scale(1.1);
    fill:white;
}
#ic7:hover{
    transform: scale(1.1);
    fill:white;
}
#shuffle:hover{
    transform: scale(1.1);
    fill:white;
}
#cast:hover{
    transform: scale(1.1);
    fill:white;
}
#left:hover{
    transform: scale(1.1);
    color:white;
}
#right:hover{
    transform: scale(1.1);
    color:white;
}
#center:hover{
    transform: scale(1.1);
    
}
#singer  h6:hover{
    color:white;
    text-decoration: underline;
}
#card1:hover{
    transform: scale(1.02);
}
#card12:hover{
    transform: scale(1.02);
}
#card13:hover{
    transform: scale(1.02);
}
#card14:hover{
    transform: scale(1.02);
}
#card15:hover{
    transform: scale(1.02);
}
#card16:hover{
    transform: scale(1.02);
}
#card2:hover{
    transform: scale(1.02);
}
#card3:hover{
    transform: scale(1.02);
}
#card4:hover{
    transform: scale(1.02);
}
#card5:hover{
    transform: scale(1.02);
}
#card6:hover{
    transform: scale(1.02);
}
#card7:hover{
    transform: scale(1.02);
}
.me1:hover{
    color:white;
}
.me2:hover{
    color:white;
}
#hm:hover{
    color:white;
}
#srch:hover{
    color:white;
}
#side_bar:hover{
    color:white;
}
#plus:hover{
    color:white;
}
#name:hover{
    color:white;
}
#right_arrow:hover{
    color:white;
}
#arrow1:hover{
    transform: scale(1.05);
    color:white;
}
#arrow2:hover{
    transform: scale(1.05);
    color:white;
}
#button1:hover{
    transform: scale(1.05);

}
#button2:hover{
    transform: scale(1.05);

}
#profile:hover{
    transform: scale(1.05);

}
#btn1:hover{
    transform: scale(1.05);

}
#btn2:hover{
transform: scale(1.05);
}

